/* ============================== Navbar ================================= */

.navbar {
    border-radius: 0;
    margin-bottom: 15px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* Navbar li active */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: transparent;
}

/* Navbar li a */

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/* Navbar li a hover */

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

/* Navbar Brand Name */

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}



/* ============================== Nav Tabs ================================= */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #333;
  border-color: #ddd #ddd transparent;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: default;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #444;
  text-decoration: none;
}

.nav-tabs li a {
    color: #eee;
}

.tab-pane p {
    padding-top: 15px;
}

.input-group {
    margin-bottom: 10px;
}



/* ================================================================================================================= */
/* ============================================== Bootstrap Button CSS ============================================= */
/* ================================================================================================================= */

/* Btn */

.btn {
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 10px;
    padding: 4px 15px;
    text-transform: uppercase;
}

.btn:hover {
    background: #fff;
    color: #333;
}

/* Button Primary */

.btn-primary {
    background-color: #AB7C72;
    border-color: transparent;
    color: #fff;
}

.btn-primary:hover {
    background-color: #AB7C72;
    border-color: transparent;
    color: #fff;
}

.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}